<h1>Those are the details of the restaurant: <%= @restaurant.name %></h1>


<p>
  Address: <%= restaurant.address %>
</p>

<p>
  Phone number: <%= restaurant.phone_number %>
</p>

<p>
  Category: <%= restaurant.category %>
</p>
<!-- <p>
      Reviews:
  <% @reviews.each do |review| %>
    <%= review.rating %>
    <%= review.content %>
  <% end %>
</p> -->


<!-- <%= link_to "Edit", edit_restaurant_path(@pet) %>
<%= link_to "Destroy", pet_path(@pet), method: :delete, data: { confirm: "Are you sure ?" } %>
<%= link_to "Back", pets_path %> -->

